
header {
    background-color: gray;
    color: white;
    padding: 10px 0;
    text-align: center;
}

@font-face {
    font-family: 'CustomFont';
    src: url('fonts/font.ttf') format('truetype');
}
/* classes */
.center {
    margin: auto;
    text-align: center;
    width: 50%;
  }


body {
    font-family: 'CustomFont', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}